
<html>
<link rel="stylesheet" media="screen" href = "{{url_for('static', filename='bootstrap.min.css')}}">

<div class="container">
  <div class="row">
    <div class="col">

      <h1>Tools for companyxyz IT Security</h1>
       <a href="http://localhost:8000/check_vyatta_access">Access Check in companyxyz Vyatta Firewall</a><br>
       <a href="http://localhost:8000/check_asa_access">Access Check in companyxyz ASA Firewalls</a><br>
       <a href="http://localhost:8000/vlan_find">Check VLAN Details</a><br>

    </div>
<div>


</html>

